:root {
  /* colours */
  --orange: #fcb913;
  --blaze-orange: #ff6b00;
  --science-blue: #0957c3;
  --thunderbird: #d91a17;
  --alizarin-crimson: #e02a29;
  --black-35: hsl(0, 0%, 0%, 0.35);
  --dusty-gray: #999;
  --pearl-lusta-transparent: hsla(46, 83%, 93%, 0%);
  --pearl-lusta: #fcf5df;
  --light-gray: #d8d8d8;
  --white: #fff;
  --black: #000;

  /* font */
  --jw-icon-font-family: 'jw-icon';
  --jw-icon-font-path: 'asset/font';

  --jw-icon-heart-fill: '\e907';
  --jw-icon-heart-outline: '\e908';
  --jw-icon-chevron-left: '\e905';
  --jw-icon-chevron-right: '\e906';
  --jw-icon-checkmark: '\e900';
  --jw-icon-circle-left: '\e901';
  --jw-icon-circle-right: '\e902';
  --jw-icon-info: '\e903';
  --jw-icon-cross: '\e904';
}
